body{

margin:0;
overflow:hidden;
background:#5ac8fa;
touch-action:none;

}

canvas{

width:100vw;
height:100vh;
display:block;

}

#controls{

position:fixed;
bottom:20px;
width:100%;
display:flex;
justify-content:space-between;
padding:20px;
box-sizing:border-box;

}

button{

width:80px;
height:80px;
border:none;
border-radius:20px;
font-size:35px;
background:white;
box-shadow:0 5px 10px rgba(0,0,0,.3);

}

button:active{

transform:scale(.9);

}